# Python In-Built Data Structures
- strings
- list
- tuple
- set
- dictionary

# Strings
    - strings in python are the sequence of unicode characters.

<img src="https://media.giphy.com/media/l0ExwzsCSv0apIjlK/giphy.gif" width = "300" style="transform:rotate(-90deg);">

In [1]:
my_str = "Welcome to the Course"

In [2]:
print(my_str)

print(type(my_str))

Welcome to the Course
<class 'str'>

**Indexing a String**

- accessing one character based on the position.

In [3]:
print(my_str[0])
print(my_str[1])

W
e

In [4]:
# total number characters in a string
print( len(my_str) )

21

In [5]:
# accessing last element of string
print( my_str[len(my_str)  - 1] )

e

**Negative Indexing**

- writting `len(my_str)` is optional.

- That's how Python give rise to Negative Indexing

In [6]:
print( my_str[-1] )   # last character
print( my_str[-5] )   # 5th last character

e
o

### String Slicing
- extracting multiple characters from a string (sub string)
- Syntax : `str[start_idx : end_idx +1]`

In [7]:
print( my_str[ 2:7] )

lcome

In [9]:
print( my_str[:] )

Welcome to the Course

In [11]:
# all the characters except last 2
print( my_str[:-1] )

Welcome to the Cours

### Important Methods related to strings

In [12]:
print(my_str)

Welcome to the Course

In [ ]:
# my_str.

In [13]:
# converts everything in lowercase
my_str.lower()

'welcome to the course'

In [14]:
# converts everything in uppercase
my_str.upper()

'WELCOME TO THE COURSE'

In [15]:
# Captial first character of each word
my_str.title()

'Welcome To The Course'

In [18]:
# returns the index of first occurence of the word, -1 otherwise
my_str.find("come")

3

In [19]:
# splits the string with space " " and creates a list
my_str.split(" ")

['Welcome', 'to', 'the', 'Course']

### Few Operations on strings

In [21]:
# concatenation 2 of strings
"abc "+"pqr"

'abc pqr'

In [22]:
# cannot concatenate other data type
"abc" + 1

TypeError: can only concatenate str (not "int") to str

In [24]:
# type conversion is the way.
"abc " + str(1)

'abc 1'

In [25]:
# Multiplication of string with int n results into repetition string n times.
"hello"*4

'hellohellohellohello'

# Lists
     - ordered/sequence collection of elements
     - indexable
     - mutable
     - can store heterogenous elements
<img src="https://media.giphy.com/media/10S4rk0J10AKlO/giphy.gif" width="500">

In [26]:
my_list = [6,3,2,8,4]

In [27]:
print(my_list)

[6, 3, 2, 8, 4]

In [28]:
type(my_list)

list

**Indexing/Slicing of List works same way as Strings**

In [29]:
print( my_list[0] )

print( my_list[-1] )

print( my_list[1:-1] ) # list slicing

6
4
[3, 2, 8]

In [30]:
# because of mutable property
my_list[0] = 99

print(my_list)

[99, 3, 2, 8, 4]

### Some important methods for lists

In [31]:
# adds the given element at the end of the list
my_list.append(33)

print(my_list)

[99, 3, 2, 8, 4, 33]

In [32]:
# inserts 88 at index 1
my_list.insert(1, 88)

print(my_list)

[99, 88, 3, 2, 8, 4, 33]

In [33]:
# delete the last element.
# pop function can also take index if you want to delete specific index.
my_list.pop()

print(my_list)

[99, 88, 3, 2, 8, 4]

In [34]:
# reverse a list 
my_list.reverse()

print(my_list)

[4, 8, 2, 3, 88, 99]

In [35]:
# sorts in ascending order
my_list.sort()

print(my_list)

[2, 3, 4, 8, 88, 99]

In [36]:
# sorts in descending order
my_list.sort(reverse=True)

print(my_list)

[99, 88, 8, 4, 3, 2]

In [38]:
# in operator
1 in my_list

False

In [41]:
# iterating over elements of list and taking their squares
for ele in my_list: 
    print(ele**2)

9801
7744
64
16
9
4

### List Comprehension

In [42]:
print(my_list)

[99, 88, 8, 4, 3, 2]

In [43]:
# creating a new list of squares of each element
new_list = []

for ele in my_list: 
    new_list.append(ele**2)
    
print(new_list)

[9801, 7744, 64, 16, 9, 4]

In [47]:
## list comprehension
new_list2 = [ele**2 for ele in my_list]

print(new_list2)

[9801, 7744, 64, 16, 9, 4]

In [48]:
# e.g of heterogenous list
my_list_2 = [4, True, 98.4, [9,6,3], "Python", 100]

print(my_list_2)

[4, True, 98.4, [9, 6, 3], 'Python', 100]

In [49]:
len(my_list_2)

6

In [50]:
list_2d = [ [1,2,3], [4,5,6], [7,8, 9] ]

print(list_2d)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [51]:
print(list_2d[1])

[4, 5, 6]

In [54]:
# accessing an element in 2d list
print( list_2d[1][-1] )

6

# Tuples
    - similar to lists (read-only)
    - ordered,  collections of items
    - indexable
    - immutable

In [55]:
tup = (8, 9 , "Hello", 88)

In [56]:
print(tup)

(8, 9, 'Hello', 88)

In [57]:
type(tup)

tuple

In [58]:
print( tup[0] )

print( tup[:-1])

8
(8, 9, 'Hello')

In [59]:
# But this is not possible because of immutablity
tup[0] = 1

TypeError: 'tuple' object does not support item assignment

In [60]:
for ele in tup:
    print(ele)

8
9
Hello
88

# Set
    - contains only unique elements
    - mutable
    - unordered
    - unindexable

In [61]:
my_set = {9, 7, 7, 1, 8, 9, 7, 5, 1}

In [62]:
# No duplicate elements
print(my_set)

{1, 5, 7, 8, 9}

In [63]:
type(my_set)

set

In [64]:
# No matter how many times you add same element, it will be available only once.
my_set.add(99)

print(my_set)

my_set.add(99)

print(my_set)

{1, 99, 5, 7, 8, 9}
{1, 99, 5, 7, 8, 9}

In [65]:
# remove elements from set
my_set.remove(8)

print(my_set)

{1, 99, 5, 7, 9}

#### Remove Duplicate Numbers from a list

In [66]:
some_list = [6,3,7,6,4,1,0,9,2,1,0,8,6,4,7]

In [67]:
print(some_list)

[6, 3, 7, 6, 4, 1, 0, 9, 2, 1, 0, 8, 6, 4, 7]

In [69]:
my_new_set = set(some_list)

In [74]:
some_list = list(my_new_set)

In [75]:
some_list

[0, 1, 2, 3, 4, 6, 7, 8, 9]

# Dictionary
     - stores data in key-value pair
     - unordered
     - unindexable
     - access the values, with help of keys
      
<img src="https://media.giphy.com/media/l2Je66zG6mAAZxgqI/giphy.gif" width=300>

In [76]:
user_info = {
    "name": "Mohit",
    "age" : 34,
    "nationality" : "Indian",
}

In [77]:
print(user_info)

{'name': 'Mohit', 'age': 34, 'nationality': 'Indian'}

In [78]:
type(user_info)

dict

In [79]:
# accessing elements in dictionary

print(user_info['name'])

print(user_info['nationality'])

Mohit
Indian

In [80]:
# unknown key gives error
print(user_info['hobby'])

KeyError: 'hobby'

   use  `dic.get()` to avoid error

In [82]:
# no error

user_info.get('hobby')

In [83]:
# add data in dictionary

user_info['hobby'] = ['Singing', 'Cricket', 'Coding']

In [84]:
print(user_info)

{'name': 'Mohit', 'age': 34, 'nationality': 'Indian', 'hobby': ['Singing', 'Cricket', 'Coding']}

In [85]:
# display all keys 
user_info.keys()

dict_keys(['name', 'age', 'nationality', 'hobby'])

In [86]:
# display all values
user_info.values()

dict_values(['Mohit', 34, 'Indian', ['Singing', 'Cricket', 'Coding']])

In [87]:
# display (key, value) pair in tuples
user_info.items()

dict_items([('name', 'Mohit'), ('age', 34), ('nationality', 'Indian'), ('hobby', ['Singing', 'Cricket', 'Coding'])])

In [88]:
for k,v in user_info.items():
    print(k, " : " , v)

name  :  Mohit
age  :  34
nationality  :  Indian
hobby  :  ['Singing', 'Cricket', 'Coding']

In [89]:
# delete key, value 
user_info.pop('nationality')

'Indian'

In [90]:
# nationality has been deleted
user_info

{'name': 'Mohit', 'age': 34, 'hobby': ['Singing', 'Cricket', 'Coding']}

In [91]:
user_info['name'] = "John Doe"

In [92]:
print(user_info)

{'name': 'John Doe', 'age': 34, 'hobby': ['Singing', 'Cricket', 'Coding']}

# Challenges :

**Challenge 1 :** Write a Program to check if a string is Palindrome

**Challenge 2 :** Write a Program to reverse a string _(without using any function)_

**Challenge 1 :** Find the minimum/maximum element in a given list

**Challenge 2 :** Extend the Challenge 1, to find second largest element in a given list.

**Challenge 3 :** Write a Program to remove duplicate elements from a given list.

**Challenge 1 :** Given a dictionary, reverse that dictionary keys should become values and values will be keys. _(Provided keys and vlaues are immutable)_

**Challenge 2 :** Given a list like `['Apple', 'Mango', 'Apple','Banana','Grapes, 'Mango','Apple']` find which is the most frequest element