# Scrapy
 - a python framework for web-crawling 
 - it can also be used for fetching data from APIs or as a scraper.

In [2]:
# ! pip install scrapy

In [3]:
! scrapy startproject quotescrawler

New Scrapy project 'quotescrawler', using template directory '/opt/anaconda3/lib/python3.8/site-packages/scrapy/templates/project', created in:
    /Users/mohituniyal/Desktop/Python for Data Science/web crawling/quotescrawler

You can start your first spider with:
    cd quotescrawler
    scrapy genspider example example.com

In [14]:
import pandas as pd

In [15]:
books = pd.read_csv("./bookscrawler/all_books.csv")

In [16]:
books.shape

(1000, 3)

In [18]:
books.head()

,url,name,price
0,../media/cache/2c/da/2cdad67c44b002e7ead0cc356...,A Light in the ...,£51.77
1,../media/cache/26/0c/260c6ae16bce31c8f8c95dadd...,Tipping the Velvet,£53.74
2,../media/cache/3e/ef/3eef99c9d9adef34639f51066...,Soumission,£50.10
3,../media/cache/32/51/3251cf3a3412f53f339e42cac...,Sharp Objects,£47.82
4,../media/cache/be/a5/bea5697f2534a2f86a3ef27b5...,Sapiens: A Brief History ...,£54.23