<center> <h1> Python Basics </h1> </center>

![Python Image](https://media.giphy.com/media/2lbhL8dSGMh8I/giphy.gif)

`print()` outputs the values

In [6]:
# This is a comment 
# Shift + enter
print("Hello Students")

Hello Students

In [7]:
# You can print multiple objects seperated with comma
print("Python", "Data Science", 100)

Python Data Science 100

### Variables
- a placeholder for storing values/data

All the variables have data types. Use `type(var)` to check the datatype

In [8]:
# creating a variable
i = 5

In [9]:
print(i)

5

In [10]:
type(i)

int

- Python is dynamic typed Language
- same variables can take values of different data-types.

In [11]:
i = "Coding Minutes"

In [12]:
print(i)

Coding Minutes

In [13]:
type(i)

str

### Basic Datatypes
- int
- float
- string
- Boolean
- None

In [14]:
my_f = 56.7

print(my_f)
print(type(my_f))

56.7
<class 'float'>

In [15]:
my_bool = True    # or False

print(my_bool)
print(type(my_bool))

True
<class 'bool'>

In [16]:
my_none = None

print(my_none)
print(type(my_none))

None
<class 'NoneType'>

# Input 
`input()` : always returns a str value

In [17]:
name = input("Enter your name :")

Enter your name :Mohit

In [18]:
print(name)

print(type(name))

Mohit
<class 'str'>

#### Type Casting
    - converts one datatype to another

In [19]:
num = '8'
print(type(num))

<class 'str'>

In [20]:
num = int(num)

print(type(num))

<class 'int'>

In [21]:
# Type Casting
age = int(input("What's your age ? "))

What's your age ? 21

In [22]:
print(age)

print(type(age))

21
<class 'int'>

# Operators
 - **Arithmatic Operators** 
     `+ , - , * , / , // , **, %`

 - **Comparison Operator**
     `> , < , >= , <= , == , !=`
     
 - **Logical Operator** 
     `and , or , not `
     
 - **Bitwise Operator**
     `& , | , ^  `
 
 - **Membership Operator**
     `in`

### Arithmatic

![arithmatic](./images/arithmatic.png)

In [25]:
no1 = 12
no2 = 3

In [26]:
add = no1 + no2
sub = no1 - no2
mul = no1 * no2
div = no1 / no2
f_div = no1 // no2
exp = no1 ** no2
mod = no1 % no2

In [27]:
print("a+b =" , add)
print("a-b =", sub)
print("a*b =", mul)
print("a/b =", div)
print("a//b =", f_div)
print("a**b =", exp)
print("a%b =", mod)

a+b = 15
a-b = 9
a*b = 36
a/b = 4.0
a//b = 4
a**b = 1728
a%b = 0

### Comparison

![comparison](./images/comparison.svg)

In [28]:
print("a>b :" , no1>no2)

print("a<b :", no1<no2)

print("a==b :", no1==no2)

print("a!=b :", no1!=no2)

a>b : True
a<b : False
a==b : False
a!=b : True

### Logical

`and`  : return True when both the conditions are True, otherwise false

`or`   : return True even when one of the condition is True. False if both the conditions are False

`not`  : return Negation

In [30]:
print( (10>5) and (10 < 6) )

False

In [31]:
print( (10>5) or (10 <3))

True

In [33]:
print( not False )

True

### Bitwise

In [34]:
# bitwise & of 10 with 4
print( 10 & 4)

0

In [35]:
# bitwise | of 10 with 4
print(10 | 4)

14

### Membership
    - in

In [40]:
"Good" in "Good Morning"

True

# Control Flow : Conditional Statements
`if, else, elif`


    if (test expression):
        statements
    else:
        statements
            
![if else](./images/ifelse.jpg)

In [42]:
age = 14


if (age >= 18):
    print("You're eligible to Vote.")
else:
    print("Grow Up First.")

Grow Up First.

In [45]:
age = 17

if (age >= 18):
    print("You can vote.")
elif ( age >= 15):
    print("Grow up First.")
else:
    print("Go Home Kid..")

Grow up First.

# Control Flow : Iterations/Loops

- `while loop`
- `for loop`
    
    
    while (test-expression):
        body of while



![loops](https://media.giphy.com/media/ieaUdBJJC19uw/giphy-downsized.gif)

**Q- Print all even numbers from 1 to 20**

In [46]:
#### BAD WAY!!!

print(2)
print(4)
print(6)
print(8)
print(10)
print(12)
print(14)
print(16)
print(18)
print(20)

2
4
6
8
10
12
14
16
18
20

In [51]:
i = 1

while (i <=20):
    if(i%2 == 0):
        print(i, end=", ")
        
    i = i+1

2, 4, 6, 8, 10, 12, 14, 16, 18, 20,

In [53]:
# end=" " paramter is used to print everything in one line

for i in range(1, 21):
    if(i%2 == 0):
        print(i, end=" ")

2 4 6 8 10 12 14 16 18 20

In [55]:
# range(start, end, step)

for i in range(2, 21, 2):
    print(i, end= " ")

2 4 6 8 10 12 14 16 18 20

In [57]:
## Multiples of a Number

n = 9

for i in range(1, 11):
    print(n, "x", i, "=", i*n)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

### Break and Continue
 - whenever we wants to terminates the loop iteration that's where break and continue are used.

`break` : used to exit all coming iterations in loop

`continue`  : it just skips the current iteration and moves to the next iteration.


<img src="./images/break_continue.jpg" width="500">

In [58]:
for i in range(1, 10):
    if (i==5):
        break
    print(i)

1
2
3
4

In [59]:
# 5 is skipped
for i in range(1, 10):
    if (i==5):
        continue
    print(i)

1
2
3
4
6
7
8
9

# Challenges :

**Challenge 1** : Write a Program to Check for a number is Odd/Even

**Challenge 2** : Write a Program to find the largest number among 3 given numbers. _(Take 3 numbers input from user)_

**Challenge 1:** Write a Program to calculate the factorial of a Given Number

**Challenge 2:** Write a Program to check if a given number is Prime or Not