In [13]:
name='Michael'
print(f"Hello, \
\n{name}!")

Hello,
Michael!

In [12]:
print("Jean Paul\
\nNishimirwe\
\nI am here man\
\nHi there")

Jean Paul
Nishimirwe
I am here man
Hi there

In [19]:
verse="""Hi
There"""
print(verse)

Hi
There

In [30]:
4//2

2

In [45]:
name=input("Enter name: ")
age=int(input("Enter Ages of you next birth day: "))
course=input("Enter course: ")
nationality=input("Enter your Nationality: ")

print("*"*19, "\nName:", name,"\nAge Next Birthday:",age,"\nCourse:",course,"\nNationality:",nationality,"\n"+"*"*19)

Enter name: JP
Enter Ages of you next birth day: 34
Enter course: Data Analytics
Enter your Nationality: Rwandan
*******************
Name: JP
Age Next Birthday: 34
Course: Data Analytics
Nationality: Rwandan
*******************

# Seven

In [51]:
# Taking Input
number=int(input("Enter an integer: "))
# Control if it is even or not
if number %2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Enter an integer: 0
Number is even

# Eight

In [59]:
# Taking input
mark=float(input("Enter marks: "))
# check if mark is in the range 0-100
if mark<0 or mark>100:
    print("Not in a range 0-100")
else:
    if mark>=92:
        print("A")
    elif mark>=82:
        print("B")
    elif mark>=70:
        print("C")
    else:
        print("Fail")

Enter marks: -9
Not in a range 0-100

In [ ]:
students=int(input("Enter number of students: "))
marks=[]
for i in range(students):
    repeat=True
    while repeat:
        m=float(input("Enter marks"))
        #  validate
        if m>=0 and m<=100:
            marks.append(m)
            print("Valid and saved")
            repeat=False
        else:
            print("Not Valid, Please enter a valid mark [0-100]")
            repeat=True

Enter number of students: 2
Enter marks-2
Not Valid, Please enter a valid mark [0-100]
Enter marks900
Not Valid, Please enter a valid mark [0-100]

# On 13 September 2021

In [14]:
sum.__doc__

"Return the sum of a 'start' value (default: 0) plus an iterable of numbers\n\nWhen the iterable is empty, return the start value.\nThis function is intended specifically for use with numeric values and may\nreject non-numeric types."

In [15]:
type(sum)

builtin_function_or_method

In [18]:
print(sum.__doc__)

Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

In [21]:
a="Hi" " " "Wordl"
print(a)

Hi Wordl

In [27]:
li=[2,3,5,1]
sum=lambda x,y: x+y

two=[sum(x,x) for x in li]
print(sum(9,2), two)

11 [4, 6, 10, 2]

In [28]:
greet= lambda name: print(f"hello {name}")
greet("Paul")

hello Paul

In [ ]:
def hhh(*args):
    for i in args:
        print(i,"Hh")
        
hhh([True,False])

# Strings

In [15]:
def rev(str):
    res=""
    if len(str)==0:
        return res
    res=str[-1]+ rev(str[:-1]) 
    return res
str="Imana ni nziza peuh"
print(str[:-1])
print(rev("Imane"))

Imana ni nziza peu
enamI

In [18]:
str[1]

'm'

# List

In [29]:
li=[6,1,7,2]
li.sort(reverse=True)
sorted(li, reverse=True)

[7, 6, 2, 1]

# Tuple

In [32]:
a,*b=tuple(li)
a
b

[6, 2, 1]

# Dictionary

In [41]:
d={"001" : {"Name" : "Jean Paul Nishimirwe",
              "Ages" : 25, "College": "CMU"},
     "002": {"Name" : "Viateur Gombaniro",
            "Ages" : 45, "College" : "Finished"}}

for key in d.keys():
    print(key)
    for k in d.get(key).keys():
        print(k,d.get(key).get(k))
    print()

001
Name Jean Paul Nishimirwe
Ages 25
College CMU

002
Name Viateur Gombaniro
Ages 45
College Finished

# Exercises

In [50]:
import math
number=float(input("Enter a number: "))
number=abs(number)
sr=math.sqrt(number)
p2=math.pow(number,2)
p3=math.pow(number,1/3)
print(p3)

Enter a number: 8
2.0

In [51]:
print(f"I am {p2} \
    \nbut here I am not safe {sr}")

I am 64.0
but here I am not safe 2.8284271247461903

In [62]:
l=['3','4','5','6']
print([int(i) for i in l])

[3, 4, 5, 6]

In [67]:
a='   7      '
print(a.strip().isdecimal())

True

In [101]:
import builtins
all_built_in=dir(builtins)
for fun in all_built_in:
    if fun=='sum' :
        print(f"{fun} ",type(eval(fun)))
        print()
        print(eval(fun).__doc__)

sum  <class 'builtin_function_or_method'>

Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.