## BeautifulSoup
- used for web scraping
- it's a parser for html and xml

In [2]:
# !pip install bs4

In [117]:
import bs4
import requests
import pandas as pd
import re

In [5]:
url = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_and_their_capitals_in_native_languages"

In [6]:
res = requests.get(url)

In [7]:
res.status_code

200

In [8]:
text = res.content

In [10]:
soup = bs4.BeautifulSoup(text)

In [12]:
type(soup)

bs4.BeautifulSoup

In [18]:
soup.title

In [16]:
soup.h1.text

'List of countries and dependencies and their capitals in native languages'

In [20]:
soup.find('h1')

In [24]:
all_tables = soup.find_all('table', attrs = {"class" : "wikitable"})

In [25]:
len(all_tables)

25

### getting information about one country

In [36]:
D_table = all_tables[3].find_all('tr')[1:]

In [37]:
len(D_table)

4

In [47]:
all_tds = D_table[0].find_all('td')

In [48]:
len(all_tds)

5

In [55]:
all_tds[0].img.attrs['src']

'//upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Flag_of_Denmark.svg/20px-Flag_of_Denmark.svg.png'

In [62]:
country = all_tds[0].text
capital = all_tds[1].text
language = all_tds[-1].text

In [64]:
print(country, capital, language)

 Denmark Copenhagen Danish

In [73]:
df = pd.DataFrame({}, columns=['Country', 'Capital', 'Language'])

In [74]:
df

Empty DataFrame
Columns: [Country, Capital, Language]
Index: []

### getting information from all the tables

In [75]:
for one_table in all_tables:
    all_rows= one_table.find_all('tr')[1:]
    for tr in all_rows:
        all_tds = tr.find_all('td')

        country = all_tds[0].text
        capital = all_tds[1].text
        language = all_tds[-1].text

        ele = {'Country': country, 'Capital' : capital, 'Language' : language}
        
        df = df.append(ele, ignore_index=True)
        
        print(country,"==",capital,"==",language)
        print()

 Afghanistan == Kabul == Pashto/Dari(Arabic script)


 Albania == Tirana == Albanian


 Algeria == Algiers == Berber language(Tifinagh script)Arabic(Arabic script)


 American Samoa[1] == Pago Pago == SamoanEnglish


 Andorra == Andorra la Vella == Catalan


 Angola == Luanda == Portuguese Kongo


 Anguilla[2] == The Valley == English


 Antigua and Barbuda == Saint John's == English


 Argentina == Buenos Aires == Spanish


 Armenia == Yerevan == Armenian(Armenian alphabet)


 Aruba[3] == Oranjestad == Dutch, Papiamento


 Australia == Canberra == English/ Aboriginal native languages


 Austria == Vienna == German


 Åland Islands[4] == Mariehamn == SwedishFinnish


 Azerbaijan == Baku == Azerbaijani


 The Bahamas == Nassau == English


 Bahrain == Manama == Arabic(Arabic script)


 Bangladesh == Dhaka == Bengali(Bengali script)


 Barbados == Bridgetown == English


 Belarus == Minsk == Belarusian(Cyrillic script)Russian(Cyrillic script)


 Belgium == Brussels == DutchFrenchGerman


 Belize == Belmopan == English


 Benin == Porto-Novo == French


 Bermuda[2] == Hamilton == English


 Bhutan == Thimphu == Dzongkha(Tibetan alphabet)


 Bolivia == La Paz == SpanishQuechuaAymaraGuaraní


 Bosnia and Herzegovina == Sarajevo == Bosnian, Croatian(Latin script), Serbian(Cyrillic script)


 Botswana == Gaborone == English, Tswana


 Brazil == Brasília == Portuguese


 British Virgin Islands[2] == Road Town == English


 Brunei == Bandar Seri Begawan == Malay(Jawi script)


 Bulgaria == Sofia == Bulgarian(Cyrillic script)


 Burkina Faso == Ouagadougou == French


 Burundi == Gitega == Kirundi  French


 Cambodia == Phnom Penh == Khmer(Khmer script)


 Cameroon == Yaoundé == FrenchEnglish


 Canada == Ottawa == English, French


 Cape Verde == Praia == Portuguese


 Cayman Islands[2] == George Town == English


 Central African Republic == Bangui == FrenchSango


 Chad == N'Djamena == FrenchArabic(Arabic script)


 Chile == Santiago == Spanish


 China (People's Republic of) == Beijing == Mandarin Chinese(Chinese characters)


 Christmas Island[6] == Flying Fish Cove == English


 Cocos Islands[6] == West Island == English


 Colombia == Bogotá == Spanish


 Comoros == Moroni == ShikomorArabic(Arabic script)French


 Republic of the Congo == Brazzaville == FrenchKongo Lingala


 Democratic Republic of the Congo
 == Kinshasa == French Kongo Lingala Swahili


 Cook Islands[7] == Avarua == English  Cook Islands Māori


 Costa Rica == San José == Spanish


 Côte d'Ivoire(formerly Ivory Coast) == Yamoussoukro == French


 Croatia == Zagreb == Croatian


 Cuba == Havana == Spanish


 Curaçao[3] == Willemstad == DutchPapiamentoEnglish


 Cyprus == Nicosia == Greek(Greek alphabet)Turkish


 Czech Republic == Prague == Czech


 Denmark == Copenhagen == Danish


 Djibouti == Djibouti == Arabic(Arabic script)FrenchSomaliAfar


 Dominica == Roseau == English


 Dominican Republic == Santo Domingo == Spanish


 East Timor == Díli == TetumPortuguese


 Ecuador == Quito == Spanish


 Egypt == Cairo == Arabic(Arabic script)


 El Salvador == San Salvador == Spanish


 Equatorial Guinea == Malabo == Spanish  French  Portuguese


 Eritrea == Asmara == Arabic(Arabic script)Tigrinya(Ge'ez script)


 Estonia == Tallinn == Estonian


 Eswatini(formerly Swaziland) == Mbabane == EnglishSwazi


 Ethiopia == Addis Ababa == Amharic(Ge'ez script)


 Falkland Islands[2] == Stanley == English


 Faroe Islands[8] == Tórshavn == FaroeseDanish


 Fiji == Suva == EnglishFijianFiji Hindi


 Finland == Helsinki == FinnishSwedish


 France == Paris == French


 French Guiana[9] == Cayenne == French


 French Polynesia[10] == Papeete == French


 Gabon == Libreville == French


 The Gambia == Banjul == English


 Georgia == Tbilisi == Georgian(Georgian alphabet)


 Germany == Berlin == German


 Ghana == Accra == EnglishAkanTwiEwe


 Gibraltar[2] == Gibraltar == English


 Greece == Athens == Greek(Greek alphabet)


 Greenland[8] == Nuuk == GreenlandicDanish


 Grenada == St. George's == English


 Guadeloupe[9] == Basse-Terre == French


 Guam[1] == Hagåtñaformerly Agaña == EnglishChamorro


 Guatemala == Guatemala City == Spanish


 Guernsey[11] == Saint Peter Port == English


 Guinea == Conakry == FrenchManinka, SusuPular


 Guinea-Bissau == Bissau == Portuguese


 Guyana == Georgetown == English


 Haiti == Port-au-Prince == FrenchHaitian Creole


 Honduras == Tegucigalpa == Spanish


 Hong Kong[12] == Hong Kong == EnglishCantonese(Traditional Chinese characters)


 Hungary == Budapest == Hungarian


 Iceland == Reykjavík == Icelandic


 India == New Delhi == Assamese(Assamese script)Bengali(Bengali script)EnglishGujarati(Gujarāti script)Hindi(Devanagari script)Kannada(Kannada script)Konkani(Devanagari script)Malayalam(Malayalam script)Marathi(Devanagari script)Nepalese(Devanagari script)Oriya(Oriya script)Punjabi(Gurmukhi script)Sanskrit(Devanagari script)Tamil(Tamil script)Telugu(Telugu script)


 Indonesia == Jakarta == Bahasa Indonesia


 Iran == Tehran == Persian(Persian script)


 Iraq == Baghdad == Arabic(Arabic script)Kurdish


 Ireland == Dublin == IrishEnglish


 Isle of Man[11] == Douglas == EnglishManx


 Israel == Jerusalem (declared)[a] == Hebrew(Hebrew script)Arabic(Arabic script)


 Italy == Rome == Italian


 Jamaica == Kingston == English


 Japan == Tokyo == Japanese(Japanese characters)


 Jersey[11] == St. Helier == EnglishFrenchJèrriais


 Jordan == Amman == Arabic(Arabic script)


 Kazakhstan == Nur-Sultan == Kazakh(Cyrillic script)Russian(Cyrillic script)


 Kenya == Nairobi == English, Swahili


 Kiribati == Tarawa[13] == English, Gilbertese


 North Korea == P'yŏngyang == Korean(Hangul/Hanja)


 South Korea == Seoul == Korean(Hangul/Hanja)


 Kosovo[14] == Pristina == Albanian  Serbian (Latin)  Serbian (Cyrillic)


 Kuwait == Kuwait City == Arabic (Official)(Arabic script) Kuwaiti Gulf Arabic (native)(Arabic script)


 Kyrgyzstan == Bishkek == Kyrgyz(Cyrillic script)Russian(Cyrillic script)


 Laos == Vientiane == LaoLao alphabet


 Latvia == Riga == Latvian


 Lebanon == Beirut == Arabic(Arabic script)
French



 Lesotho == Maseru == Sesotho, English


 Liberia == Monrovia == English


 Libya == Tripoli == Berber language(Tifinagh script)Arabic(Arabic script)


 Liechtenstein == Vaduz == German


 Lithuania == Vilnius == Lithuanian


 Luxembourg == Luxembourg == LuxembourgishGermanFrench


 Macau[12] == Macau == Cantonese(Traditional Chinese characters) Portuguese


 Madagascar == Antananarivo == MalagasyFrench


 Malawi == Lilongwe == English  Chichewa


 Malaysia == Kuala Lumpur == Malay


 Maldives == Malé == Dhivehi(Thaana script)


 Mali == Bamako == FrenchBambara


 Malta == Valletta == Maltese  English


 Marshall Islands == Majuro == English Marshallese


 Martinique[9] == Fort-de-France == French


 Mauritania == Nouakchott == Berber language(Tifinagh script)Arabic(Arabic script)


 Mauritius == Port Louis == EnglishFrenchMauritian Creole


 Mayotte[9] == Mamoudzou == FrenchShimaore


 Mexico == Mexico City == SpanishNahuatl


 Federated States of Micronesia == Palikir == English


 Moldova == Chișinău == Romanian


 Monaco == Monaco == French  Monégasque


 Mongolia == Ulaanbaatar == Mongolian(Cyrillic script)(Mongol script)


 Montenegro == Podgorica == Montenegrin


 Montserrat[2] == Brades Estate[15] == English


 Morocco == Rabat == Berber language(Tifinagh script)Arabic(Arabic script)


 Mozambique == Maputo == Portuguese


 Myanmar (or Burma) == Naypyidaw == Burmese(Burmese alphabet)


 Namibia == Windhoek == EnglishGermanAfrikaansDamara/NamaHerero


 Nauru == Yaren (de facto)[16] == EnglishNauruan


 Nepal == Kathmandu == NepaleseDevanagari


 Netherlands == Amsterdam == DutchWest Frisian


 New Caledonia[17] == Nouméa == French


 New Zealand[18] == Wellington == EnglishMāori


 Nicaragua == Managua == Spanish


 Niger == Niamey == French


 Nigeria == Abuja == English Hausa Igbo Yoruba


 Niue[7] == Alofi == NiueanEnglish


 Norfolk Island[6] == Kingston == English Norfuk


 North Macedonia == Skopje == Macedonian(Cyrillic script)Albanian


 Northern Mariana Islands[1] == Saipan == English Chamorro


 Norway == Oslo == Norwegian BokmålNorwegian NynorskNorthern SamiLule SamiSouthern Sami


 Oman == Muscat == Arabic(Arabic script)


 Pakistan == Islamabad == EnglishUrdu(Arabic script [Nastaʿlīq hand])


 Palau == Ngerulmud == EnglishPalauan


 Palestine[14] == East Jerusalem (declared)  Ramallah (administrative capital)[b] == Arabic(Arabic script)


 Panama == Panama City == Spanish


 Papua New Guinea == Port Moresby == EnglishTok PisinHiri Motu


 Paraguay == Asunción == SpanishGuaraní


 Peru == Lima == SpanishQuechua/Aymara


 Philippines == Manila == FilipinoEnglish


 Pitcairn Islands[2] == Adamstown == English Pitcairnese


 Poland == Warsaw == Polish


 Portugal == Lisbon == Portuguese


 Puerto Rico[1] == San Juan == English, Spanish


 Qatar == Doha == Arabic(Arabic script)


 Réunion[9] == Saint-Denis == French


 Romania == Bucharest == Romanian


 Russia == Moscow == Russian(Cyrillic script)


 Rwanda == Kigali == French, Kinyarwanda, Swahili, English


 Sahrawi Arab Democratic Republic[14] == Laayoune == Arabic(Arabic script)SpanishFrench


 Saint Barthélemy[10] == Gustavia == French


 Saint Helena, Ascension and Tristan da Cunha[2] == Jamestown == English


 Saint Kitts and Nevis == Basseterre == English


 Saint Martin[10] == Marigot == French


 Saint Lucia == Castries == English


 Saint Pierre and Miquelon[10] == Saint-Pierre == French


 Saint Vincent and the Grenadines == Kingstown == English


 Samoa == Apia == EnglishSamoan


 San Marino == San Marino == Italian


 São Tomé and Príncipe == São Tomé == Portuguese


 Saudi Arabia == Riyadh == Arabic(Arabic script)


 Senegal == Dakar == FrenchWolof


 Serbia == Belgrade == Serbian(Cyrillic script)


 Seychelles == Victoria == Seychellois CreoleFrenchEnglish


 Sierra Leone == Freetown == English


 Singapore == Singapore == MalayEnglishMandarin Chinese(Simplified Chinese characters)Tamil(Tamil script)


 Sint Maarten[3] == Philipsburg == DutchEnglish


 Slovakia == Bratislava == Slovak


 Slovenia == Ljubljana == Slovene


 Solomon Islands == Honiara == EnglishNeo-Solomonic


 Somalia == Mogadishu == SomaliArabic(Arabic script)


 South Africa == Pretoria (administrative capital), Cape Town (legislative capital), Bloemfontein, (judicial capital) == EnglishAfrikaansisiZuluisiXhosaPediSothoTswanaVendaTsongaSwaziNdebele


 South Sudan == Juba == English Swahili  Dinka


 Spain == Madrid == Spanish, GalicianCatalanBasqueAranese, Galician (R)


 Sri Lanka == Sri Jayawardenapura Kotte == SinhalaTamil


 Sudan == Khartoum == Arabic(Arabic script)


 Suriname == Paramaribo == Dutch


 Svalbard[19] == Longyearbyen == Norwegian


 Sweden == Stockholm == Swedish


 Switzerland == Bern (de facto)[16] == GermanFrenchItalianRomansh


 Syria == Damascus == Arabic(Arabic script)


 Taiwan (Republic of China)[14] == Taipei == Chinese(Traditional Chinese characters)


 Tajikistan == Dushanbe == Tajiki-Persian(Cyrillic)


 Tanzania == Dodoma == English, Swahili


 Thailand == Bangkok == Thai(Thai script)


 Togo == Lomé == French Ewe  Kabiye


 Tokelau[20] ==  == English, Tokelauan


 Tonga == Nukuʻalofa == Tongan, English


 Trinidad and Tobago == Port of Spain == English


 Tunisia == Tunis == Berber language(Tifinagh script)Arabic(Arabic script)


 Turkey == Ankara == Turkish


 Turkmenistan == Ashgabat == Turkmen


 Turks and Caicos Islands[2] == Cockburn Town == English


 Tuvalu == Fongafale (in Funafuti) == English, Tuvaluan


 Uganda == Kampala == English, Swahili


 Ukraine == Kyiv == Ukrainian(Cyrillic script)


 United Arab Emirates == Abu Dhabi == Arabic(Arabic script)


 United Kingdom == London == EnglishWelshScotsScots GaelicIrishCornish


 United States == Washington, D.C. == EnglishSpanishCajun FrenchIndigenousHawaiian


 United States Virgin Islands[1] == Charlotte Amalie == English


 Uruguay == Montevideo == Spanish


 Uzbekistan == Tashkent == Uzbek(Cyrillic script)


 Vanuatu == Port Vila == French


 Vatican City == Vatican City == LatinItalian


 Venezuela == Caracas == Spanish


 Vietnam == Hanoi == Vietnamese


 Wallis and Futuna[10] == Mata Utu == FrenchWallisianFutunan


 Yemen == Sana'a == Arabic(Arabic script)


 Zambia == Lusaka == English, Bemba, Chewa

 Zimbabwe == Harare == English, Shona

In [77]:
df.shape

(242, 3)

In [78]:
df.head()

,Country,Capital,Language
0,Afghanistan,Kabul,Pashto/Dari(Arabic script)\n
1,Albania,Tirana,Albanian\n
2,Algeria,Algiers,Berber language(Tifinagh script)Arabic(Arabic ...
3,American Samoa[1],Pago Pago,SamoanEnglish\n
4,Andorra,Andorra la Vella,Catalan\n

In [94]:
df['Language']  = df['Language'].apply(lambda x : x[:-1])

In [96]:
df.to_csv("countries.csv", index=False)

In [126]:
df['Country'] =  df['Country'].apply(lambda x : re.sub('\[.*\]', "", x.strip()))

In [123]:
s = "helloworld[3]"
re.sub('\[.*\]', "", s)

'helloworld'

In [128]:
df.to_csv("countries.csv", index=False)

In [129]:
countries_df = pd.read_csv("countries.csv")

In [130]:
countries_df

,Country,Capital,Language
0,Afghanistan,Kabul,Pashto/Dari(Arabic script)
1,Albania,Tirana,Albanian
2,Algeria,Algiers,Berber language(Tifinagh script)Arabic(Arabic ...
3,American Samoa,Pago Pago,SamoanEnglish
4,Andorra,Andorra la Vella,Catalan
...,...,...,...
237,Vietnam,Hanoi,Vietnamese
238,Wallis and Futuna,Mata Utu,FrenchWallisianFutunan
239,Yemen,Sana'a,Arabic(Arabic script)
240,Zambia,Lusaka,"English, Bemba, Chewa"
241,Zimbabwe,Harare,"English, Shona"